@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-primary: #e27b32;
  --color-primary-dark: #5e391c;
  --color-background-light: #f8f7f6;
  --color-background-dark: #211811;

  --font-display: "Manrope", sans-serif;

  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-full: 9999px;
}
.glass-card {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.liquid-glass-gradient {
  background: linear-gradient(
    135deg,
    rgba(226, 123, 50, 0.1) 0%,
    rgba(255, 255, 255, 0.4) 100%
  );
}
.text-brown {
  color: #5e391c;
}
.slider-thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #e27b32;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
